<h1><strong>Information on: </strong>{{ vm.stock.Name }}, ({{ vm.stock.Symbol }})</h1>

<h3><strong>Industry: </strong>{{ vm.stock.Industry }}</h3>

<h3><strong>Last Sale: </strong>{{ vm.stock.LastSale | currency: "$" : 2 }}</h3>

<h3 ng-show="vm.stock.reviews.length > 0"><strong>User Comments: </strong></h3>
<ul>
    <li ng-repeat="review in vm.stock.reviews">{{ review.name }} says: {{ review.review }}</li>
</ul>
<h3><em>More information can be found here: </em><a href="https://www.nasdaq.com/symbol/{{vm.stock.Symbol}}" target="_blank">{{vm.stock.Symbol}}</a></h3>
<br>

<div ng-if="vm.isLoggedIn()">
<form name="vm.reviewForm" ng-submit="vm.addReview()">
    <!--Your name: <input type="text" name="name" required ng-minlength="2" ng-model="vm.name">-->
    <!--<div ng-show="vm.reviewForm.name.$dirty && vm.reviewForm.name.$invalid && vm.isSubmitted">-->
    <!--    <p>Name should be more than 2 characters long</p>-->
    <!--</div>-->
    
    Your thoughts on the stock: <textarea name="review" required ng-model="vm.review"></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
        <p>Please add your thoughts</p>
    </div>
    
    <button type="submit" class="btn-primary">Add your comment</button>
</form>
<br>
<div ng-show="!vm.stockFavorited" ng-click="vm.addFavorite()">
    <button type="submit" class="btn-primary">Add this stock to your favorites</button>
</div>

</div>