<h1><strong>Information on: </strong>{{ vm.stock.Name }}, ({{ vm.stock.Symbol }})</h1>

<h4><strong>Sector: </strong>{{ vm.stock.Sector }}</h4>

<h4><strong>Industry: </strong>{{ vm.stock.Industry }}</h4>

<h4><strong>IPO Year: </strong>{{ vm.stock.IPOyear }}</h4>

<div>
<h2><strong>Trader Information:</strong></h2>
<h4><strong>Last Updated: </strong></span><span id="currentDate"></h4>
<h4><strong>Current Price: </strong><span id="currentPrice"></span></h4>
<h4><strong>Open: </strong><span id="todayOpen"></span></h4>
<h4><strong>Close: </strong><span id="todayClose"></span></h4>
<h4><strong>High: </strong><span id="todayHigh"></span></h4>
<h4><strong>Low: </strong><span id="todayLow"></span></h4>
</div>


<h2 ng-show="vm.stock.reviews.length > 0"><strong>User Comments: </strong></h2>
<ul>
    <li ng-repeat="review in vm.stock.reviews">{{ review.name }} says: {{ review.review }}</li>
</ul>
<h3><em>More information can be found here: </em><a href="https://www.nasdaq.com/symbol/{{vm.stock.Symbol}}" target="_blank">{{vm.stock.Symbol}}</a></h3>
<br>

<div ng-if="vm.isLoggedIn()">
<form name="vm.reviewForm" ng-submit="vm.addReview()">
    Your thoughts on the stock: <textarea name="review" required ng-model="vm.review"></textarea>
    <div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
        <p>Please add your thoughts</p>
    </div>
    <button type="submit" class="btn-primary">Add your comment</button>
</form>
<br>
<div ng-show="!vm.stockFavorited" ng-click="vm.addFavorite()">
    <button type="submit" class="btn-primary">Add this stock to your favorites</button>
</div>
</div>