<h1>{{vm.loggedInUser}}'s Profile</h1>

<h2 ng-if="vm.favorites.length > 0">{{vm.loggedInUser}}'s Favorite NASDAQ Stocks:</h2>

<ul>
    <li ng-repeat="favorites in vm.favorites"><a ng-href="https://www.nasdaq.com/symbol/{{ vm.favorites[$index].favorites }}" target="_blank">{{favorites.favorites}}</a></li>
</ul>

<br>

<h3>{{vm.loggedInUser}}, you currently have {{vm.funds | currency }} in your account with us.</h3>

<h3 ng-show="vm.stocksOwned.length < 1">You don't own any stocks yet! Check the individual stock's page to purchase/sell</h3>
<!--<h3 ng-show="vm.stocksOwned.length > 0">You own the following:</h3>-->
<!--<ul>-->
<!--    <li ng-repeat="stocks in vm.stocksOwned track by $index">{{stocks.amount}} shares of {{stocks.stock}}</li>-->
<!--</ul>-->

<div ng-show="vm.stocksOwned.length > 0">
<h3>You own the following:</h3>
<table>
    <tr class="tableHead">
        <td>Stock</td>
        <td>Amount of Shares</td>
        <td>Sell Shares</td>
        <td>Get Current Price</td>
    </tr>
    <tr ng-repeat="stocks in vm.stocksOwned track by $index">
    <td id="{{$index}}">{{stocks.stock}}</td>    
    <td>{{stocks.amount}}</td>
    <td>
        <form name="vm.sellStockForm" ng-submit="vm.sellStock(stocks._id, stocks.stock, vm.sellAmount[$index])">
            <input id="amount" type="amount" required placeholder="Amount of shares" ng-model="vm.sellAmount[$index]">
            <button type="submit" class="btn-primary" id="button{{$index}}">Sell this stock</button>
        </form>
    </td>
    <td id="currentPrice">
    </td>
    <td>
        <button ng-click="vm.getCurrentPrice(stocks.stock)" type="submit" class="btn-primary">Get Current Price</button>
    </td>
    </tr>
</table>
</div>
<br>
<div ng-click="vm.deleteProfile()">
    <button type="submit" class="btn btn-danger">Delete your profile</button>
</div>

