<h1>Welcome to CareerDevs NASDAQ Stocks</h1>


<br>
<br>
<!--<div>-->
<!--<h2>Search for a specific stock here</h2>-->
<!--<h4>Stock Search: <input name="searchBox" type="search" ng-model="query.Symbol"></h4>-->

<!--<div ng-init="stockSearch = search.Symbol">-->
<!--<ul>-->
<!--    <li ng-repeat="stock in vm.stocks | filter: query" ng-show="query">{{ stock.Name }}, {{ stock.Symbol }}</li>-->
    <!--the ng-href makes each hotel a link. uses _id from the data-->
    <!--this iterates thru the first 5 hotels and prints their name on a list on the browser-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->

<!--<div ng-controller="SearchController">-->
    <!--<div ng-controller="SearchDisplayController">-->
<!--<div ng-if="vm.isLoggedIn()">-->
<form name="symbol" ng-submit="vm.search(); vm.searchDisplay()">
    <div class="search-group">
    <label for="symbol">Stock Search: </label>
    <input id="symbol" type="symbol" required ng-model="vm.symbol">
    </div>
    <button type="submit" class="btn-primary">Search</button>
</form>
<!--</div>-->


<div ng-show="vm.isSubmitted">
<h4>Your search for {{ vm.stock.Symbol }} has yielded: </h4>
<h3>{{vm.stock.Name}} which last sold at {{ vm.stock.LastSale | currency: "$" : 2 }}</h3>
</div>

<h5>Recent searches:</h5>
<!--<p>{{vm.stockSearchHistory}}</p>-->

<ul>
    <li ng-repeat= "searches in vm.allSearches" >{{searches}}</li>
</ul>

<!--<ul>-->
<!--   <li ng-repeat="searches in vm.searchHistory">{{searches}}</li>-->
<!--</ul>-->
<!--</div>-->

<!--<div ng-controller="SearchDisplayController">-->
<!--    <p>Test {{vm}}</p>-->
<!--<ul>-->
<!--   <li ng-repeat="searchHistory in vm.searchHistory">{{searchHistory}}</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->