<h1>Welcome to CareerDevs NASDAQ Stocks</h1>
<br>
<br>

<form name="symbol" ng-submit="vm.search(); vm.searchDisplay()">
    <div class="search-group">
    <p>We have information on every NASDAQ stock</p>
    <label for="symbol">Search here by symbol: </label>
    <input id="symbol" type="symbol" required ng-model="vm.symbol">
    </div>
    <button type="submit" class="btn-primary">Search</button>
</form>

<div ng-show="vm.isSubmitted">
    <div ng-show="vm.correctSearch">
        <h4>Your search for  {{ vm.stock.Symbol }} has yielded: </h4>
        <h3><a ng-href="#!/stock/{{ vm.stock._id }}">{{vm.stock.Name}}</a> which is in the {{vm.stock.Industry}} industry</h3>
    </div>
    <div ng-show="vm.error">
        <h4>{{vm.stock}}</h4>
    </div>
</div>

<div ng-show="vm.isSubmitted && vm.username">
    <h5>Recent searches:</h5>
    <ul> 
        <li ng-repeat="searches in vm.userSearch"><a ng-href="https://www.nasdaq.com/symbol/{{ vm.userSearch[$index].search }}" target="_blank">{{searches.search}}</a></li>
    </ul>
</div>
<br>

<div ng-show="vm.isLoggedIn()">
<h3>{{vm.loggedInUser}}, here are today's top headlines in the business world: </h3>
    <div id="articlePaginate">
    <!--<ul id="list">-->
        <!--<div id="articlePaginate">-->
            
        <!--</div>-->
    <!--</ul> -->
    </div>
</div>


<div ng-show="vm.isLoggedIn()">
    <h3>Crypto-Corner</h3>
    <h4>BTC, LTC, ETH INFO WILL GO HERE</h4>
    <p><span id="currentBTCPrice"></span></p>
</div>